{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <img src="{% static "images/wvfc-shield.png" %}" alt="WVFC" width="100px"/>
        <h4 class="display-4">Woodkirk Valley Football Club</h4>
        <div>

            Welcome to the Woodkirk Valley <strong> Parent and Player </strong> Registration site
            <br/>
            <br/>
            As a parent we would like you to register as a member and the Register your children in the profile page.
        </div>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">

{% endblock %}