{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <img src="{% static "images/woodkirk-trans.png" %}" alt="WVFC" width="75px"/>
        <h4 class="display-4">Woodkirk Valley Football Club</h4>
        <div>

            Welcome to the Woodkirk Valley <strong> Parent and Player </strong> Registration site
            <br/>
            <br/>
            As a parent we would like you to register as a member and then Register your children individually in the
            <strong>Member Profile</strong> menu.
            <br/>
            <br/>
            When you are registered just login to your account.
        </div>
        <button>
            <a class="nav-link" href="{% url 'registration_register' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register Here
            </a>
        </button>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">

{% endblock %}