{% extends 'member/base_bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <div class="page-header">
            <h2>Individual Merit Badges</h2>
        </div>

        <div id="profile_data" class="page-header">

            {% if merit %}
                <ul class="list-group">
                <h4>My Badges</h4>
                {% for badge in merit %}
                    <br/>
                    <ul class="list-group">
                    <li class="list-group-item"><img src={% static badge.iconUrl %} height="150"%></li>
                    <li class="list-group-item bg-warning"><h3>{{ badge.name }}: </h3><i>{{ badge.description }}</i>
                    </li>
                    <li class="list-group-item"><strong>{{ badge.category }} </strong> Category (4 Corner Model)</li>
                    <li class="list-group-item"><a href={{ badge.pageUrl }}>Link</a></li>
                    <ol class="list-group-item bg-warning"><strong>Assessment Criteria</strong></ol>
                    {% for assesment in meritassessments %}
                        {% if assesment.badgeId_id == badge.id %}
                            <ol>

                                <li class="list-group-item">
                                    <button type="button" class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                    {{ assesment.description }}</li>

                            </ol>
                        {% endif %}
                    {% endfor %}

                {% endfor %}

            {% endif %}
            </ul>


            </ul>


        </div>
    </div>
{% endblock %}