{% extends 'member/base_bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <div class="page-header">
            <h2>My Badges</h2>
        </div>

        <div id="profile_data" class="page-header">

            {% if mybadges %}
                <ul class="list-group">
                <h4>Merit Badges</h4>
                {% for badge in mybadges %}
                    <br/>
                    <ul class="list-group">
                    <li class="list-group-item">{% static badge.id %}</li>


                {% endfor %}

            {% endif %}
            </ul>


            </ul>


        </div>
    </div>
{% endblock %}