{% extends 'member/base_bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <div class="page-header">
            <h2>My Badges</h2>
        </div>

        <div id="profile_data" class="page-header">

            {% if mybadges %}
                <ul class="list-group">
                <h4>Merit Badges</h4>
                <br/>
                <br class="list-group">
                <li class="list-group-item">
                {% for badge in mybadges %}

                    <img src={% static badge.iconUrl %} height="150"%>

                {% endfor %}
                </li>
            {% else %}
                <h4><i>You don't have any badges yet, grab a ball and get practicing! </i></h4>
                <button type="button" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>

                </br>
                </br>
                Check out some new skills here:
                <ul>
                    <li>
                        <a class="nav-link" href="{% url 'skills_matrix' %}">Skills Matrix</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'merit_badges' %}">Merit Badges</a>
                    </li>
                </ul>
            {% endif %}
            </ul>


            </ul>


        </div>
    </div>
{% endblock %}