{% extends 'member/base_bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load member_template_tags %}

{% block title %}{% endblock %}

{% block body_block %}
    <div class="jumbotron">

        <div class="page-header">
            <h2>My Badges</h2>
            </br>


            {% if bronzebadges %}

                <h4>Bronze Badges ({{ badgecounts| getBadgeCount:"B" }}) </h4>
                <div class="list-group">
                </br>
                <li class="list-group-item">
                    {% for badge in bronzebadges %}

                        <img src={% static badge.iconUrl %} height="150"%>

                    {% endfor %}
                </li>
            {% else %}
                <h4>Bronze Badges </h4>
                <h5><i>You don't have any bronze badges yet, grab a ball and get practicing! </i></h5>

            {% endif %}


            {% if silverbadges %}
                <h4>Silver Badges ({{ badgecounts| getBadgeCount:"S" }})</h4>
                <li class="list-group-item">
                    {% for badge in silverbadges %}

                        <img src={% static badge.iconUrl %} height="150"%>

                    {% endfor %}
                </li>
            {% else %}
                <h5><i>You don't have any Silver badges yet, grab a ball and get practicing! </i></h5>

            {% endif %}


            {% if goldbadges %}
                <h4>Gold Badges ({{ badgecounts| getBadgeCount:"G" }}) </h4>
                <li class="list-group-item">
                    {% for badge in goldbadges %}

                        <img src={% static badge.iconUrl %} height="150"%>

                    {% endfor %}
                </li>
            {% else %}
                <h5><i>You don't have any Gold badges yet, grab a ball and get practicing! </i></h5>

            {% endif %}


            {% if meritbadges %}
                <h4>Skill Based Badges ({{ badgecounts| getBadgeCount:"M" }})</h4>
                <li class="list-group-item">
                    {% for badge in meritbadges %}

                        <img src={% static badge.iconUrl %} height="150"%>

                    {% endfor %}
                </li>
            {% else %}
                <h5><i>You don't have any Merit badges yet, get practicing! </i></h5>

            {% endif %}

            </br>

            Check out some new skills here:
            </br>
            </br>
            <li><a href="{% url 'skills_matrix' %}">Skills Matrix</a></li>
            <li><a href="{% url 'merit_badges' %}">Merit Badges</a></li>

            </div>
        </div>
    </div>
{% endblock %}