{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Physical Section</h2>
            <p>We aim to develop players who possess outstanding physical and athletic skills in the following areas:
            </p>
            <ul style="text-align: left">
                <li>Agility</li>
                <li>balance</li>
                <li>coordination</li>
                <li>Speed/Speed endurance</li>
                <li>Flexibility</li>
                <li>Power / Strength</li>

            </ul>

        </div>
    </div>


    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/dribbling-bronze.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Dribbling Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/dribbling-silver.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Dribbling Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/dribbling-gold.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Dribbling Gold</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/heading-bronze.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Heading Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/heading-silver.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Heading Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/heading-gold.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Heading Gold</p></div>
            </div>

        </div>
    </div>
{% endblock %}