{% extends "member/base_bootstrap.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}
	Registration - Step 2
{% endblock %}

{% block body_block %}
    <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
	<div class="jumbotron">
        <h2 class="display-5">Parent Registration - Step 2</h2>

    <div class="container">
        Parent Details
    </div>
    </div>
	<form method="post" action="." enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit" value="Submit" />
	</form>
{% endblock %}