{% extends "member/base_bootstrap.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}
    Registration - Step 2
{% endblock %}

{% block body_block %}
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">
        <h2 class="display-5">Parent Registration - Step 2</h2>

        <div class="container">
            Parent Details
        </div>
    </div>
    <div class="form-group">
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-primary" input type="submit" name="submit">Register</button>
        </form>
    </div>
{% endblock %}