{% extends 'member/base_bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                {% for user in loggedin_user %}
                    <h2>{{ user.full_name }}'s Profile</h2>
                {% endfor %}


                <div class="col">
                    <button type="button" class="btn btn-default btn-right">
                                        <span class="fa fa-pencil-square-o text-success"
                                              aria-hidden="true"></span>
                        <a href="/member/profile/update/">Edit Member</a>
                    </button>
                    <button type="button" class="btn btn-default btn-right">
                                        <span class="fa fa-pencil-square-o text-success"
                                              aria-hidden="true"></span>
                        <a href="{{ url }}/member/profile/addplayer/">Register a Player</a>
                    </button>
                </div>
            </div>

        </div>

        <ul class="list-group" style="list-style-type: none;">
            {% for currentuser in loggedin_user %}

                <li><h5><span class="fa fa-address-card-o text-primary"
                              aria-hidden="true"></span> {{ currentuser.address1 }}</h5></li>
                <li>
                    <h5><span class="fa fa-circle-thin text-white"
                              aria-hidden="true"></span> {{ currentuser.address2 }}</h5>
                </li>
                <li>
                    <h5><span class="fa fa-circle-thin text-white"
                              aria-hidden="true"></span> {{ currentuser.postcode }}</h5>
                </li>
                <li>
                    <h5><span class="fa fa-phone text-primary"
                              aria-hidden="true"></span> {{ currentuser.mobile_phone }}</h5>
                </li>
                <li>
                    <h5><span class="fa fa-envelope text-primary"
                              aria-hidden="true"></span> {{ user.email }}</h5>
                </li>
                <li>
                {% if currentuser.accepted_code_of_conduct == True %}
                    <h4 class="text-success"><span class="fa fa-check-square-o"
                                                   aria-hidden="true"></span> <i>Parents Code of Conduct - Terms
                        accepted</i></h4>
                {% else %}
                    <h4 class="text-danger"><span class="fa fa-times-circle-o"
                                                  aria-hidden="true"></span> <i>You still need to read and
                        accept the Parents Club Code of Conduct</i></h4>
                {% endif %}

            {% endfor %}
            </li>
        </ul>

        <!-- Loop of registered players assigned to each member -->

        {% if player %}
            <h4>Current Registered Players</h4>
            <div class="row">
            {% for child in player %}
                <div class="col" style="border-style: inset; padding: 10px">
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn btn-default btn-sm btn-right">
                                        <span class="fa fa-pencil-square-o text-success"
                                              aria-hidden="true"></span>
                                <a href="/member/profile/updateplayer/{{ child.id }}">Edit</a>
                            </button>
                        </div>
                    </div>


                    {% if child.picture %}
                        <img class="img-circle center-block" src="/member/media/{{ child.picture }}"
                             width="125"
                             height="125"
                             alt="{{ child.name }}"/>
                    {% else %}
                        <div class="row">
                            <button type="button" class="center-block btn btn-lg btn-right">
                                        <span class="fa fa-upload text-success"
                                              aria-hidden="true"></span>
                                <a href="/member/profile/updateplayer/{{ child.id }}">Upload Player Photo</a>
                            </button>
                        </div>


                    {% endif %}

                    <div class="row">
                        <div class="col text-center">
                            <h2>{{ child.name }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn btn-default btn-sm">
                                        <span class="fa fa-thumbs-up text-primary text-success"
                                              aria-hidden="true"></span> Active Player
                            </button>
                        </div>
                    </div>


                    {% if child.is_active == True %}

                    {% else %}
                        <i> (Not Active)</i>
                        <button type="button" class="btn btn-default btn-lg">
                                        <span class="fa fa-thumbs-down text-primary text-danger"
                                              aria-hidden="true"> </span>
                        </button>
                    {% endif %}

                    <br/>
                    {% if child.accepted_code_of_conduct == True %}
                        <h4 class="text-center text-success"><span class="fa fa-check-square-o"
                                                       aria-hidden="true"></span> <i>Players Code of
                            Conduct
                            - Accepted</i></h4>
                    {% else %}
                        <h4 class="text-danger"><span class="fa fa-times-circle-o"
                                                      aria-hidden="true"></span> <i>You still need to read and accept
                            the Players Club Code of Conduct</i></h4>
                    {% endif %}


                    <li class="list-group-item">
                        <h5><span class="fa fa-futbol-o text-primary" aria-hidden="true"> </span>
                            <strong>
                                Manager: </strong>

                            {{ child.manager.full_name }}
                            ({{ child.manager.team }})
                        </h5>
                    </li>
                    {% if child.gender == 'M' %}
                        <li class="list-group-item">
                                <span
                                        class="fa fa-medkit text-primary" aria-hidden="true"> </span>
                            </strong> {{ child.medical_details }} </br></br>
                            <span
                                    class="fa fa-birthday-cake text-primary"
                                    aria-hidden="true"></span> {{ child.birthdate }} </br></br>
                            <span
                                    class="fa fa-male text-primary" aria-hidden="true"></span> Male
                        </li>
                    {% else %}
                        <li class="list-group-item">
                                <span
                                        class="fa fa-medkit text-primary" aria-hidden="true"> </span>
                            </strong> {{ child.medical_details }} </br></br>
                            <span
                                    class="fa fa-birthday-cake text-primary"
                                    aria-hidden="true"></span> {{ child.birthdate }} </br></br>
                            <span
                                    class="fa fa-female text-primary" aria-hidden="true"></span> Female
                        </li>
                    {% endif %}

                </div>

            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no Players currently registered to you. </strong>
        {% endif %}
        </div>
    </div>
{% endblock %}