{% extends 'member/base_bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ user.username }} Profile</h1>
    </div>
    <!-- Add in a loop of registered players by parent -->
    <br/><br/>
    <div id="profile_data">

        {% if player %}
            <ul class="list-group">
            <strong>Current Registered Players!!</strong>
                {% for child in player %}
                    <br/>
                    <ul>
                    <li>{{ child.name }}</li>
                    <li>{{ child.birthdate }}</li>
                    <li>{{ child.sex }}</li>
                    <li>{{ child.medical_details }}</li>
                    </ul>

                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no Players currently registered to you. Register below!! </strong>
        {% endif %}
        <a href="/member/profile/{{ user.username }}/add_player/">Register a Player</a>
    </div>
{% endblock %}