{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Psychological</h2>
            <p>We aim to develop players with the psychological skills and strategies to shape a
                positive team culture and mentality.
                We aim to develop reflective, resourceful and resilient players who display outstanding:
            </p>
            <ul style="text-align: left">
                <li>Confidence</li>
                <li>Creativity</li>
                <li>Concentration</li>
                <li>Communication</li>
                <li>Control</li>
                <li>Commitment</li>
            </ul>

        </div>
    </div>


    <div class="container">

        <div class="row">

           <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="kickups">
                        <img src="{% static "images/badges/kickups-bronze.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Kickups Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="kickups">
                        <img src="{% static "images/badges/kickups-silver.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Kickups Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="kickups">
                        <img src="{% static "images/badges/kickups-gold.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Kickups Gold</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/toetaps-bronze.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Toe Taps Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/toetaps-silver.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Toe Taps Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/toetaps-gold.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Toe Taps Gold</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/cryuffturns-merit.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Cryuff Turns</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/dragbackturns-merit.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Dragback Turns</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/hookturns-merit.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Hook Turns</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/ronaldochop-merit.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Ronaldo Chop Turns</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/stepoverturns-merit.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Step Over Turns</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img src="{% static "images/badges/zidaneturns-merit.png" %}" alt=""
                                               width="125"></div>
                <div class="threerowfooter text-center"><p>Zidane Turns</p></div>
            </div>

        </div>
    </div>
{% endblock %}