{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <img src="{% static "images/wvfc-shield.png" %}" alt="WVFC" width="100px"/>
            <h2 class="jumbotron-heading">Woodkirk Valley FC Skills Matrix</h2>
            <div>
            The Woodkirk skills framework is about introducing a set of core skills that we feel will develop our players into
                better footballers, and better teammates.
            </br></br>The FA's four corner model is defined as... "Our aim is to develop future England players with outstanding
                characteristics across The FA four corner player development model"
                </br></br>In simple terms there are 4 corners each developing a set of desired competencies, whilst it is unlikely we will be moulding the future stars of Wembley stadium the core principles within Woodkirk Valley remain the same.</br> </br>
            </div>

                <p><a class="btn btn-primary btn-lg" href="https://community.thefa.com/england_dna/p/future_england_player"
                  role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row" style="border: 1px solid black">
            <div class="col-md-3" style="background-color: #FF4C4C; border: 1px solid black">
                <h3>Technical</h3>
                <p>We aim to develop technically excellent players with the skills and attributes to excel in
                    junior football. Players will have the ability to create, score and prevent
                    goals through excellence in:
                    </br>
                    </br>
                    <strong>Receiving skills, Turning skills, Travelling with the ball, Passing over varying distances, Attacking and defending skills
                        Finishing skills, Aerial ability</strong></p>
                <p><a class="btn btn-secondary" href="{% url 'technical' %}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3" style="background-color: #99CC99; border: 1px solid black">
                <h3>Psychological</h3>
                <p>We aim to develop players with the psychological skills and strategies to shape a
                    positive team culture and mentality.
                    We aim to develop reflective, resourceful and resilient players who display outstanding:
                    </br>
                    </br>
                    <strong>Confidence, Creativity, Concentration, Communication, Control, Commitment</strong></p>
                <p><a class="btn btn-secondary" href="{% url 'psychological' %}" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-3" style="background-color: #FFFF7F; border: 1px solid black">
                <h3>Physical</h3>
                <p>We aim to develop players who possess outstanding physical and athletic skills in the
                    following areas:
                </br>
                </br>
                    <strong>Agility, balance, coordination, Speed/Speed endurance, Flexibility, Power, Strength, Nutrition and lifestyle, Physical resilience and Recovery</strong></p>
                <p><a class="btn btn-secondary" href="{% url 'physical' %}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3" style="background-color: #9999FF; border: 1px solid black">
                <h3>Social</h3>
                <p>We aim to develop players who display outstanding social skills across the following
                    areas:
                    </br>
                    </br>
                    <strong>Behaviour, Reflection, Teamwork, Relationships, Accountability, Responsibility, Independence</strong></p>
                <p><a class="btn btn-secondary" href="{% url 'social' %}" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Woodkirk Valley FC 2017</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}