{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">

        <div class="container">
            <h2 class="jumbotron-heading">Social Section</h2>
            <p>We aim to develop players who display outstanding social skills across the following areas:
            </p>
            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Relationships</li>
                    <li>Accountability / Responsibility</li>
                    <li>Independence</li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Behaviour</li>
                    <li>Reflection</li>
                    <li>Teamwork</li>
                </ul>
            </div>

        </div>
    </div>


    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="attacking">
                        <img src="{% static "images/badges/attacking-bronze.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Attacking Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="attacking">
                        <img src="{% static "images/badges/attacking-silver.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Attacking Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="attacking">
                        <img src="{% static "images/badges/attacking-gold.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Attacking Gold</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="defending">
                        <img src="{% static "images/badges/defending-bronze.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Defending Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="defending">
                        <img src="{% static "images/badges/defending-silver.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Defending Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="defending">
                        <img src="{% static "images/badges/defending-gold.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Defending Gold</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="leadership">
                        <img src="{% static "images/badges/leadership-merit.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Leadership Merit</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center">
                    <a href="teamwork">
                        <img src="{% static "images/badges/teamwork-merit.png" %}"
                             alt=""
                             width="125"></a></div>
                <div class="threerowfooter text-center"><p>Teamwork Merit</p></div>
            </div>

        </div>
    </div>
{% endblock %}