{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Technical Section</h2>
            <p>We aim to develop technically excellent players with the skills and attributes to excel in junior
                football. Players will have the ability to create, score and prevent goals through excellence in:
            </p>
            <div class="col-md-6">
                    <ul style="text-align: left">
                        <li>Receiving skills</li>
                        <li>Turning skills</li>
                        <li>Travelling with the ball</li>
                    </ul>
            </div>

            <div class="col-md-6">
                    <ul style="text-align: left">
                        <li>Passing over varying distances</li>
                        <li>Attacking and defending skills Finishing skills</li>
                        <li>Aerial ability</li>
                    </ul>

            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/firsttouch-bronze.png" %}"
                        alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>First Touch Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/firsttouch-silver.png" %}"
                        alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>First Touch Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/firsttouch-gold.png" %}" alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>First Touch Gold</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/goalkeeping-bronze.png" %}"
                        alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>Goalkeeper Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/goalkeeping-silver.png" %}"
                        alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>Goalkeeper Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/goalkeeping-gold.png" %}"
                        alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>Goalkeeper Gold</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/passing-bronze.png" %}" alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>Passing Bronze</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/passing-silver.png" %}" alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>Passing Silver</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/passing-gold.png" %}" alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>Passing Gold</p></div>
            </div>

            <div class="col-md-4">
                <div class="threerowbody text-center"><img
                        src="{% static "images/badges/goalscorer-merit.png" %}"
                        alt=""
                        width="125"></div>
                <div class="threerowfooter text-center"><p>Goalscoring Merit</p></div>
            </div>

        </div>
    </div>

{% endblock %}