{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title_block %}
    Update User Details
{% endblock %}

{% block body_block %}

<h1>Update your details</h1>
<div>
    <form role="form" id="member_form" method="post" action="/member/profile/{{ user.username }}/update_member/">
        {% csrf_token %}
        {% bootstrap_form form %}
        </br>

        <button class="btn btn-primary" type="submit" name="submit">Register</button>

    </form>
</div>

{% endblock %}