{% extends "member/base_bootstrap.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}
    Update User Details
{% endblock %}

{% block body_block %}

    <h1>Update your details</h1>
    <div>
        <div class="form-group">
            <form role="form" action="." method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" input type="submit" name="submit">Update</button>
            </form>
        </div>
    </div>

{% endblock %}