{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title_block %}
    Register
{% endblock %}

{% block body_block %}

    <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <div class="jumbotron">
        <h2 class="display-4">Parent Registration</h2>

    <div class="container">
        As a parent you need to register with Woodkirk Valley FC as a social member, we can use this to keep you informed of club events.
        <br/>
        As a registered user this also allows us to safeguard your children's data.
    </div>
    </div>

    <form role="form" method="post" action=".">
        {% csrf_token %}
        {% bootstrap_form form %}
        </br>

        <button class="btn btn-primary" type="submit" name="submit">Submit</button>

    </form>

{% endblock %}