{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title_block %}
    Register
{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <h4 class="display-5">Club Registration</h4>

        <div class="container">
            As a adult you need to register with Woodkirk Valley FC as a <strong>club member</strong>, you will then
            either register as a individual player or as the parent of a player or players.
            <br/>
            <br/>
            The player registration details will be submitted to the FA whole game system so all players are officially
            registered with the league.
            <br/>
            For the club secretary to register players on the whole game system you will now be required to submit a player photo.
            <br/>
            Players will be unable to play for the club until this process is completed.
        </div>
    </div>

    <form role="form" method="post" action=".">
        {% csrf_token %}
        {% bootstrap_form form %}
        </br>

        <button class="btn btn-primary" type="submit" name="submit">Submit</button>

    </form>

{% endblock %}