@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
    .navbar-toggle {
        position: static;
        padding: 2px 3px;
        width: 100%;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-toggle {
        position: static;
        padding: 2px 3px;
        width: 100%;
    }
}

.navbar-header{
  width:100%;
  padding:0 50px;
}

.btn-right{
    float:right;
}