{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Individual Skills
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Attacking Principles</h2>
            <p>
            </p>
            <ul style="text-align: left">

            </ul>

        </div>
    </div>

    <div class="container">

        <div class="row">
            • Accuracy & weight of pass
            • Movement of team mates to create passing lines
            • Team shape width and depth to create and exploit space
            • First touch/Receiving Skills
            • Check shoulder before and after receiving
            • Movement around, ahead and away from the ball
            • Awareness to play in 1 or 2 touches
            • Communication
            • Disguising the pass
            • Awareness of opposition players inside the area
            • Rotation

        </div>
    </div></br>

    <p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-info-sign"></span> Coaches Tip !
        </a>
      </p>

    <div class="row">

        <div class="col-md-4">
            <div class="threerowbody text-center"><img src="{% static "images/badges/attacking-bronze.png" %}"
                                                       alt=""
                                                       width="125"></div>
            <div class="threerowfooter text-center"><p>Attacking Bronze</p></div>
        </div>

        <div class="col-md-4">
            <div class="threerowbody text-center"><img src="{% static "images/badges/attacking-silver.png" %}"
                                                       alt=""
                                                       width="125"></div>
            <div class="threerowfooter text-center"><p>Attacking Silver</p></div>
        </div>

        <div class="col-md-4">
            <div class="threerowbody text-center"><img src="{% static "images/badges/attacking-gold.png" %}"
                                                       alt=""
                                                       width="125"></div>
            <div class="threerowfooter text-center"><p>Attacking Gold</p></div>
        </div>

    </div>
    </div>

{% endblock %}