{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Individual Skills
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Defending Principles</h2>
            <p>
            </p>
            <ul style="text-align: left">

            </ul>

        </div>
    </div>

    <div class="container">

        <div class="row">
            • Maintain shape as a defensive unit to prevent penetrating passes
            • Defensive compactness
            • Shift quickly as a unit to screen the penetrating pass (ball side)
            • Defenders to attempt to win the ball back as soon as possible and apply pressure
            • Decisions and communication to determine roles of defenders - who presses, who supports, who provides
            cover and balance?
            • Communication between defenders to develop awareness of movement and effectively defend
            • Read play and cues from attackers (head down, direction of passes) to be in a position to press and regain
            the ball
            • Supporting defenders to get in a position to provide cover for teammate
            • Stop opposition playing forward


        </div>
    </div></br>

    <p>
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-info-sign"></span> Coaches Tip !
        </a>
    </p>

    <div class="row">

        <div class="col-md-4">
            <div class="threerowbody text-center"><img src="{% static "images/badges/defending-bronze.png" %}"
                                                       alt=""
                                                       width="125"></div>
            <div class="threerowfooter text-center"><p>Defending Bronze</p></div>
        </div>

        <div class="col-md-4">
            <div class="threerowbody text-center"><img src="{% static "images/badges/defending-silver.png" %}"
                                                       alt=""
                                                       width="125"></div>
            <div class="threerowfooter text-center"><p>Defending Silver</p></div>
        </div>

        <div class="col-md-4">
            <div class="threerowbody text-center"><img src="{% static "images/badges/defending-gold.png" %}"
                                                       alt=""
                                                       width="125"></div>
            <div class="threerowfooter text-center"><p>Defending Gold</p></div>
        </div>

    </div>
    </div>

{% endblock %}