{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Individual Skills
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Kick-Ups</h2>

            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Singles kick and catch</li>
                    <li>Use both feet</li>
                    <li>Increase to two kicks then catch so you can do it consistently</li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Keep increasing as your confidence grows</li>
                    <li>Try bounce kickups - 1 bounce / 1 kick / 1 bounce ...</li>
                    <li>Use different body parts</li>
                </ul>


            </div>

        </div>


    </div>



    <div class="row">
        <a href="#" class="btn btn-default">
            <span class="glyphicon glyphicon-info-sign"></span> Coaches Tips !
        </a>
    </div>
    </br>

    <div class="row">


    </div>



    </br>


    <div class="row">


        <div id="goodTips" class="col-md-5">

            <ul style="text-align: left; list-style: none;">
                <li>
                    <button type="button" class="btn btn-success btn-default">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    Lean slightly backwards
                </li>
                <li>
                    <button type="button" class="btn btn-success btn-default">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    Toes pointing upwards
                </li>
                <li>
                    <button type="button" class="btn btn-success btn-default">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    Eyes always on the ball
                </li>
                <li>
                    <button type="button" class="btn btn-success btn-default">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    Weight of touch - Keep ball height just above your knee
                </li>
            </ul>
        </div>

        <div id="badTips" class="col-md-5">

            <ul style="text-align: left; list-style: none;">
                <li>
                    <button type="button" class="btn btn-danger btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    Don't hit it too hard
                </li>
                <li>
                    <button type="button" class="btn btn-danger btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    Don't Rush
                </li>


            </ul>
        </div>

        <div id="videoLinks" class="col-md-2">
            <a href="#" class="btn btn-default">
                <span class="glyphicon glyphicon-eye-open"></span>
                <table>
                    <tr>
                        <th>Video Links...</th>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=Nxr9Pev3e_0" target="_blank">Kickups - Part 1</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=MBiUt_DRSu0&list=LLLSdq6bB5cfOR4cSgl79Trg"
                               target="_blank">Kickups
                            -
                            Part 2</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=rc2R4X1427s&list=LLLSdq6bB5cfOR4cSgl79Trg"
                               target="_blank">Kickups
                            -
                            Part 3</a></td>
                    </tr>
                </table>
            </a>
        </div>

    </div>

    </br>


        <div class="col-md-3 btn-info"
             style="float: left; border-radius: 20px; border: 1px solid black; background-color:#E08040">
            <div class="text-center"><h3 style="color:#000000">Kickups Bronze</h3></div>
            <div class="text-center"><img src="{% static "images/badges/kickups-bronze.png" %}"
                                          alt=""
                                          width="150"></div>
            <div class="text-center"><p>5 Bounce Kickups (Alt L/R)</p></div>
            <div class="text-center"><p>5 Kickups (Alt L/R)</p></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 btn-info"
             style="float: left; border-radius: 20px; border: 1px solid black; background-color:#E08040">
            <div class="text-center"><h3 style="color:#000000">Kickups Silver</h3></div>
            <div class="text-center"><img src="{% static "images/badges/kickups-silver.png" %}"
                                          alt=""
                                          width="150"></div>
            <div class="text-center"><p>20 Bounce Kickups (Alt L/R)</p></div>
            <div class="text-center"><p>20 Kickups (Alt L/R)</p></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 btn-info"
             style="float: left; border-radius: 20px; border: 1px solid black; background-color:#E08040">
            <div class="text-center"><h3 style="color:#000000">Kickups Gold</h3></div>
            <div class="text-center"><img src="{% static "images/badges/kickups-gold.png" %}"
                                          alt=""
                                          width="150"></div>
            <div class="text-center"><p>50 Bounce Kickups (Alt L/R)</p></div>
            <div class="text-center"><p>50 Kickups (Alt L/R)</p></div>
        </div>

    </div>
    </div>

{% endblock %}