{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% block title_block %}
    Individual Skills
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Leadership</h2>
            <p>
            </p>
            <ul style="text-align: left">

            </ul>

        </div>
    </div>

    <div class="container">

        <div class="row">
            •


        </div>
    </div></br>

    <p>
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-info-sign"></span> Coaches Tip !
        </a>
    </p>

    <div class="row">

        <div class="col-md-4">
            <div class="threerowbody text-center"><img src="{% static "images/badges/leadership-merit.png" %}"
                                                       alt=""
                                                       width="125"></div>
            <div class="threerowfooter text-center"><p>Leadership</p></div>
        </div>

        </div>

    </div>
    </div>

{% endblock %}